html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

div.header {
    background-color: white;
    width: 100%;
    height: 80px;
    align-items: center;

}

div.header-item {
    display: flex;
    width: 1000%;
    max-width: 2000px;
    align-items: center;
}

div.header-title {
    font-family: 'Caveat', cursive;
    font-size: 20;
    text-align: center;
}

div.page-grey{
    width: 100%;
    background-color: rgba(240, 246, 247, 0.867);
    display: flex;
    flex-direction: column;
    height: 810px;
}

div.page{
    width: 100%;
    background-color: rgba(220, 241, 243, 0.867);
    display: flex;
    flex-direction: column;
    height: 810px;
}

div.container-story{
    align-items: center;
    height: 700px;
    width:100%;
}

div.container-about{
    align-items: center;
    height: 400px;
    width:100%;
}

div.first-lines {
    width: 400px;
    height: 150px;
    background-color: white;
}

div.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.flex-column{
    display: flex;
    flex-direction: column;
}

img.logo{
    width: 200px;
    height: 80px;
}

img.photo{
    width: 400px;
    height: 500px;
    float: left;
}

div.textcontainer{
    display: flex;
}